legacy-peer-deps=true
strict-peer-dependencies=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=120000
registry=https://registry.npmjs.org/

# pnpm 特定配置
auto-install-peers=true
resolve-peers-from-workspace-root=true
shared-workspace-lockfile=false
preferOffline=true
