--install.ignore-engines true
--install.ignore-scripts false
--install.ignore-platform false
--install.ignore-optional false
--install.no-lockfile false
--install.flat false
--install.check-files false
--install.focus false
--install.frozen-lockfile false
--install.silent false
--install.offline false
--install.production false
--install.pure-lockfile false
--install.prefer-offline true
--install.non-interactive false
--install.network-timeout 120000
--network-timeout 120000
